<html>
    <head>
        <title>item_view</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            body {
                margin: 30;
                padding: 30;
            }
        </style>
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#000000">
    </head>
    <body>
        <div id="map-container">
            {{ item_html|safe }}
        </div>
        <div id="map">
            {{ map_html|safe }}
        </div>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                        .then((reg) => console.log('Service worker registered.', reg.scope))
                        .catch((err) => console.log('Service worker registration failed:', err));
                });
            }
        </script>
    </body>
</html>