<html>
    <head>
        <title>map_view - Mapa zgłoszeń</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map-container {
                height: 100%;
                width: 100%;
            }
            .large-icon {
                font-size: 4em;
            }
        </style>
    </head>
    <body>
        <div id="map-container">
            {{ map_html|safe }}
        </div>
    </body>
</html>